html {
    background-color: 'black';
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    color: 'white';
  }
  
  body {
    width: 60%;
    max-width: 800px;
    min-width: 360px;
    margin: 0 auto;
  /*  background-color: #000000;*/
    padding: 0px 0px 0px 0px;
  /*  border: 5px solid black;*/
  }
  
  @media screen and (max-width: 70em) {
    body {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 40em) {
    body {
      width: 90%;
    }
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  /*  color: #FFFFFF;*/
    text-shadow: 3px 3px 1px white;
  }
  
  h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  /*  color: #FFFFFF;*/
    text-shadow: 1px 1px 1px white;
  }
  
  h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  /*  color: #FFFFFF;*/
    text-shadow: 1px 1px 1px white;
  }
  
  P {
    width: 90%;
  /*  font-size: 16px;*/
    line-height: 2;
  /*  color: #FFFFFF;*/
    letter-spacing: 1px;
  }
  
  li {
  /*  font-size: 16px;*/
    line-height: 2;
    letter-spacing: 1px;
  /*  color: #FFFFFF;*/
  }
  
  dl {
  /*  font-size: 16px;*/
    line-height: 2;
    letter-spacing: 1px;
  /*  color: #FFFFFF;*/
  }
  
  a {
    color: violet;
  }