html {
  background-color: #557A95;
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

body {
  width: 750px;
  margin: 0 auto;
  background-color: #557A95;
  padding: 0px 0px 0px 0px;
  /*border: 10px solid;
  border-color: #5D5C61;*/
}

.wrapperflex {
  display: flex;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #E5EDF1;
/*  text-shadow: 3px 3px 1px black;*/
/*  border: 5px solid white;*/
}


a.nav {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-align: center;
/*  width: 107px;*/
  border: 1px solid white;
  padding: 20px;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #B1A296;
  flex: 1;
}

a.nav:hover {
  background-color: #5D5C61;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 15px;
  padding: 5px;
  color: #E5EDF1;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #E5EDF1;
  text-shadow: 1px 1px 1px black;
}

h3 {
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #E5EDF1;
  text-shadow: 1px 1px 1px black;
}

img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

P {
  width: 700px;
  font-size: 18px;
  line-height: 2;
  color: #E5EDF1;
  letter-spacing: 1px;
  margin: 25px;
}

.intro {
  font-size: 16px;
  padding: 10px;
  background-color: #7395AE;
}

P.email {
  font-size: 18px;
  text-align: center;
}

a.email {
  color: #fff;
}

li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
  color: #E5EDF1;
  list-style-type: square;
}

.wrappergrid {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.box1 {
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: #B1A296;
}

.box2 {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: #5D5C61;
}

.box3 {
  grid-row: 2;
  grid-column: 2 / 4;
  background-color: #7395AE;
}